.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featuresSection {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.featuresContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.title {
  font-size: 18px;
  padding-top: 15px;
}

.feature {
  padding: 20px 10px 10px 10px;
  border-radius: 0px;
  border: 1px solid #707070;
  height: 100%;
  border-bottom: 7px solid #2549C9;;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  transition: ease-in-out 200ms;
/*   background-color: var(--ifm-hover-overlay);
 *//*   --ifm-hover-overlay: rgba(187, 187, 187, 0.089); */
 /* background-image: linear-gradient(180deg, #238FFB 0%, #095BAC 100%); */
}
[data-theme='dark'] .feature {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.feature:hover {
  background-color: var(--ifm-hover-overlay);
}

